  <!-- Checkbox -->
  <td>
    <p-checkbox
      [binary]="true"
      [(ngModel)]="todo.completed"
      (onChange)="onToggleCompleted()"
      [inputId]="todo.id">
    </p-checkbox>
  </td>

  <!-- Titre avec édition inline -->
  <td>
    <ng-container *ngIf="isEditing; else viewMode">
      <input
        type="text"
        [(ngModel)]="todo.title"
        (blur)="saveEdit()"
        (keydown.enter)="saveEdit()"
        class="editable-input"
      />
    </ng-container>

    <ng-template #viewMode>
      <label (dblclick)="enableEdit()">{{ todo.title }}</label>
    </ng-template>
  </td>

  <!-- Bouton de suppression -->
  <td>
    <p-button
      icon="pi pi-trash"
      severity="danger"
      (click)="onDelete()">
    </p-button>
  </td>
