.item{
    display: flex;
    gap: 5px;
    justify-content: center;
  }

  .editable-input {
    border: 1px solid #ccc;
    padding: 4px;
    font-size: 14px;
    width: 100%;
  }
  
  label {
    cursor: pointer;
  }
  
  label:hover {
    text-decoration: underline;
  }
  