<div class="todo-item">
  <div class="item">
    <p-checkbox
      [binary]="true"
      [(ngModel)]="todo.completed" 
      (onChange)="onToggleCompleted()" 
      [inputId]="todo.id">
    </p-checkbox>
    
    <ng-container *ngIf="isEditing; else viewMode">
      <input
        type="text"
        [(ngModel)]="todo.title"
        (blur)="saveEdit()"
        (keydown.enter)="saveEdit()"
        class="editable-input"
      />
    </ng-container>

    <ng-template #viewMode>
      <label
      (dblclick)="enableEdit();">{{ todo.title }}</label>
    </ng-template>
  </div>

  <p-button icon="pi pi-trash" severity="danger" (click)="onDelete()"></p-button>
</div>
