<div class="p-fluid form-container">
  <form class="p-fluid form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <!-- Champ Email -->
    <div class="p-field">
      <label for="email">Email</label>
      <input id="email" type="email" pInputText formControlName="email" />
    </div>

    <!-- Champ Mot de passe -->
    <div class="p-field">
      <label for="password">Mot de passe</label>
      <p-password id="password" type="password" formControlName="password" />
    </div>

    <!-- Boutons -->
    <div class="form-footer">
      <p-button class="w-full" type="submit" label="Connexion" icon="pi pi-sign-in" [disabled]="authForm.invalid" [loading]="isLoading"></p-button>
      <p-button class="w-full" type="button" label="Inscription" icon="pi pi-user-plus" [disabled]="authForm.invalid" (click)="onSignUp()"></p-button>
    </div>
    <p style="color: red; text-align: center;" *ngIf="errorMessage.length > 0">{{errorMessage}}</p>
  </form>
</div>
