.form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.p-field {
  margin-bottom: 15px;
}

.form-footer {
  display: flex;
  align-items: center;
  gap: 10px;
} 

.w-full {
  width: 100%;
}